<header class="header-div container-fluid fixed-top p-2 border-bottom border-2">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= link_to image_tag("cruxer-logo.png", width: "60px"), go_home %>
      </div>
      <div class="col align-self-center text-end">
        <% if current_user %>
          <span>
            <i class="bi bi-person-circle pe-1 header-user-account-icon"></i>
          </span>
          <span class="pe-3 header-user-account-icon">
            <%= current_user.username %>
          </span>
          <span>
            <%= link_to "Sign out", destroy_user_session_path, class: "header-user-account" %>
          </span>
        <% else %>
          <span class="pe-3">
            <%= link_to "Create an account", new_user_registration_path, class: "header-user-account" %>
          </span>
          <span>
            <%= link_to "Sign in", new_user_session_path, class: "header-user-account" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</header>
