<nav class="navbar bg-body-tertiary border-bottom navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to image_tag("cruxer-logo.png", width: "80px"), go_home %>
      
    <div class="d-flex me-1 dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      </a>
      <% if user_signed_in? %>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><span class="dropdown-item-text"><%= current_user.username %></span></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
        </ul>
      <% else %>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Create a new account", new_user_registration_path, class: "dropdown-item" %></li>          
        </ul>
      <% end %>
     
      
      <!-- <% if user_signed_in? %>
        <h5 class="mb-0 me-1"><%= current_user.username %></h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
      <% end %> -->
      </div>
  </div>
</nav>